.App {
  text-align: center;
  background: whitesmoke;
  width: 100%;
}

.body {
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}

.App-header {
  background-color: #ce99d2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
  font-family: auto;
  padding: 15px;
  background-image: url("./marivi-unsplash.jpeg");
  background-size: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.navigation {
  list-style: none;
  justify-content: left;
  font-style: none;
  font-family: none;
  display: inline-flex;
  color: #ffffff;
  font-family: auto;
}

.navigation a {
  display: inline-flex;
  width: 25%;
  margin-right: 20px;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-family: auto;
}
.navigation li {
  display: inline-flex;
  width: 25%;
  margin-right: 15px;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-family: auto;
}

.App-link {
  color: #302431;
}

.font-link {
  font-family: auto;
}

.image {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-block-start: 15px;
  margin-block-end: 15px;
}

.transbox {
  background: linear-gradient(
    to left,
    rgb(88, 64, 102),
    rgba(251, 239, 237, 0)
  );
  margin: 15px;
  border: none;
  opacity: 1;
  padding: 10px;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 50px;
}

/* .text {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  display: inline-flex;
} */
