/* Maximum width */
@media (max-width: 512px) {
  .input {
    width: 250px;

    border: var(--button-input-border);
    border-radius: var(--button-border-radius);
    background-color: var(--background-color-header-input);
  }

  .submit {
    width: 280px;

    border: var(--button-input-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }

  /* VIEW ALL IMAGES BUTTON  */
  .viewAllImages {
    width: 280px;

    border: var(--button-input-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }

  .imageCaruselContainer img {
    min-height: 50svh;
  }

  .delete {
    top: 10%;
    right: 0%;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: var(--button-email-delete-border);
    border-radius: var(--button-border-radius);
  }

  /* RELOAD IMAGES BUTTON  */
  .reloadImages {
    width: 280px;
    margin-bottom: 1rem;

    border: var(--button-input-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }

  .noImagesMessage {
    background-color: var(--noImagesMessage-background-color);
  }

  .footerContainer {
    background-color: var(--header-footer-background-color);

    padding-left: 1rem;
    padding-right: 1rem;
  }

  .email {
    color: var(--button-text-color);
    font-size: small;

    border-radius: var(--button-border-radius);
    border: var(--button-email-delete-border);
  }
}
